.navbar {
  height: 65px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.logo {
  font-weight: 500;
}

.navButton {
  margin-left: 20px;
  border: 2px solid rgb(235, 162, 46);
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  border-radius: 4px;
}
.logout {
  margin: 5px;
  padding: 7px;
  background-color: rgb(164, 65, 65);
  color: white;
  cursor: pointer;
}
